*.iml
.gradle
/build
/app/build
/.idea/workspace.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/tasks.xml
/.idea/assetWizardSettings.xml
/.idea/navEditor.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
